[odoo]
odoo ansible_host=${odoo_ipv4}  ansible_user=ubuntu

[ic_webapp_server]
ic_webapp_server ansible_host=${ic_webapp_server_ipv4}  ansible_user=ubuntu

[pg_admin_server]
pg_admin_server ansible_host=${pg_admin_server_ipv4}   ansible_user=ubuntu
